<header class="navbar">
  <div class="logo">
    <a routerLink="/">🌸 <span>Aero</span>Beauty</a>
  </div>

   <div class="burger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  
  <nav class="nav-links">
    <a routerLink="/">Accueil</a>
    <a routerLink="/products">Boutique</a>
    <a routerLink="/about">À propos</a>
    <a routerLink="/contact">Contact</a>
  </nav>

  <div class="nav-icons">
    <span class="material-icons" routerLink="/cart" style="cursor: pointer;">shopping_cart</span>
    <span class="material-icons" routerLink="/profil" *ngIf="auth.isLoggedIn()">account_circle</span>
    <span 
      class="material-icons" 
      style="cursor: pointer;"
      *ngIf="!auth.isLoggedIn()"
      (click)="goToLogin()"
      title="Se connecter">login</span>

    <span 
      class="material-icons" 
      style="cursor: pointer;"
      *ngIf="auth.isLoggedIn()"
      (click)="logout()"
      title="Se déconnecter"
    >logout</span>

   
  </div>
</header>
