<h3 class="title">🧾 Historique des commandes</h3>

<div *ngIf="orders.length; else empty" class="orders-container">
  <div *ngFor="let o of orders" class="order-card">
    <div class="order-header">
      <h4>Commande #{{ o.id }}</h4>
      <span class="status" [ngClass]="o.status.toLowerCase()">{{ o.status }}</span>
    </div>

    <p class="date">📅 {{ o.date | date:'mediumDate' }}</p>
    <p class="total">💰 Total : <strong>{{ o.total | currency:'TND' }}</strong></p>
    <p class="address">🚚 {{ o.shippingAddress.street }}, {{ o.shippingAddress.city }}</p>

    <ul class="order-items">
      <li *ngFor="let item of o.items">
        <div class="item">
          <img
            [src]="productsMap[item.productId]?.images?.[0] "
            alt="Produit"
            class="item-image"
          />
          <div class="item-details">
            <p class="item-name">{{ getProductName(item.productId) }}</p>
            <p class="item-info">
              Quantité : {{ item.quantity }}  
              — <span>{{ item.price | currency:'TND' }}</span>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<ng-template #empty>
  <p class="empty">Aucune commande trouvée.</p>
</ng-template>
